.burger-button {
  @include reset-button;
  @include square(40px);

  position: relative;
  border-radius: var(--border-radius-small);

  @include hover {
    background-color: var(--color-light-Ñƒellow);
  }

  &::after {
    @include abs-center;

    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 5px;
    box-shadow: 0 -8px, 0 8px;
  }
}