.field {
    --fieldInputHeight: var(--input-height);
    --fieldInputTextColor: var(--color-dark);
    --fieldInputBgColor: var(--color-light);
    --fieldInputBorderColor: var(--color-dark);
    --fieldInputPlaceholderColor: var(--color-gray-alt);
    --fieldInputHoverBgColor: var(--color-light);

    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;
    font-size: 16px;
    
    @include mobile {
        row-gap: 10px;
    }

    &--big-height {
        --fieldInputHeight: 68px;
    }

    &--dark-bg {
        --fieldInputBgColor: var(--color-dark-alt);
        --fieldInputBorderColor: var(--color-light);
        --fieldInputPlaceholderColor: var(--color-light);
        --fieldInputHoverBgColor: var(--color-light-dark);
    }

    &__label {
        @include fluid-text(16, 14);
    }
    
    &__input {
        width: 100%;
        height: var(--fieldInputHeight);
        background-color: var(--fieldInputBgColor);
        padding-inline: 30px;
        border: 1px solid var(--fieldInputBorderColor);
        border-radius: var(--border-radius-small);
        
        @include mobile {
            padding-inline: 20px;
        }
        
        @include hover {
            border-color: var(--color-light-peach);
            background-color: var(--fieldInputHoverBgColor);
        }
        
        &:focus {
            border-color: var(--color-light-peach);
            outline: none;
        }
        
        &::placeholder {
            color: var(--fieldInputPlaceholderColor);
        }
        
        &--textarea {
            height: 190px;
            padding-block: 18px;
            resize: vertical;
            
            @include mobile {
                max-height: 132px;
            }
        }
    }
}