.footer {

	&__inner {
		padding: 50px 60px 55px;
		background-color: var(--color-light-dark);
		border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
		border: var(--border);
		color: var(--color-light);
	}
	
	&__logo {
		display: flex;
		align-items: center;
		column-gap: 10px;
		flex-shrink: 0;
		
		@include hover-svg {
			fill: var(--color-light-peach);
		}
	}
	
	&__navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 30px;

		&:not(:last-child) {
			margin-bottom: 66px;
		}
	}
	
	&__menu {
		display: flex;
		align-items: center;
		
		&-list {
			display: flex;
			column-gap: 40px;
			align-items: center;
		}
		
		&-link {
			position: relative;
			display: inline-flex;
			align-items: center;
			text-decoration: underline;
			
			@include hover {
				opacity: 0.7;
			}
			
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 50px;
			padding-bottom: 50px;
			border-bottom: 1px solid var(--color-light);
		}
	}

	&__contacts {
		display: flex;
		align-items: start;
		flex-direction: column;
		row-gap: 27px;

		&-body {
			display: flex;
			flex-direction: column;
			row-gap: 20px;

			p {
				margin: 0;
			}
			
			a {
				@include hover {
					opacity: 0.7;
				}
			}
		}
	}
}	