.footer {
	@include mobile {
		padding-inline: 0;
	}


	&__inner {
		padding: 50px 60px 55px;
		background-color: var(--color-light-dark);
		border: var(--border);
		color: var(--color-light);

		@include mobile-above {
			border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
		}

		@include mobile {
			display: flex;
			flex-direction: column;
			row-gap: 37px;
			align-items: center;
			padding: 50px 20px 30px;
		}
	}
	
	&__logo {
		display: flex;
		align-items: center;
		column-gap: 10px;
		flex-shrink: 0;

		@include hover-svg {
			fill: var(--color-light-peach);
		}
	}
	
	&__navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 30px;

		&:not(:last-child) {
			margin-bottom: 66px;
		}

		@include tablet {
			flex-direction: column;
			align-items: center;
			row-gap: 37px;

			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}

		@include mobile {
			display: contents;

		}
	}
	
	&__menu {
		display: flex;
		align-items: center;
		
		&-list {
			display: flex;
			column-gap: 40px;
			align-items: center;

			@include mobile {
				flex-direction: column;
				row-gap: 15px;
			}
		}
		
		&-link {
			position: relative;
			display: inline-flex;
			align-items: center;
			text-decoration: underline;
			
			@include hover {
				opacity: 0.7;
			}
			
		}
	}

	&__body {
		display: flex;
		column-gap: 20px;
		justify-content: space-between;
		align-items: center;

		@include mobile-above {
			&:not(:last-child) {
				margin-bottom: 50px;
				padding-bottom: 50px;
				border-bottom: 1px solid var(--color-light);
			}
		}

		@include mobile {
			flex-direction: column;
			row-gap: inherit;
			align-items: center;
		}
	}

	&__contacts {
		display: flex;
		align-items: start;
		flex-direction: column;
		row-gap: 27px;

		&-title {
			width: 100%;
			max-width: 200px;
			font-size: 20px;
			font-weight: 500;
		}

		&-body {
			display: flex;
			flex-direction: column;
			row-gap: 20px;

			p {
				margin: 0;
			}
			
			a {
				@include hover {
					opacity: 0.7;
				}
			}
		}
		
		@include mobile {
			align-items: center;
			text-align: center;
		}
	}

	&__extra {
		display: flex;
		column-gap: 40px;

		a {
			text-decoration: underline;

			@include hover {
				opacity: 0.7;
			}
		}

		@include mobile {
			flex-direction: column;
			align-items: center;
			row-gap: 15px;
			order: 2;
			width: 100%;
			padding-top: 37px;
			border-top: 1px solid var(--color-light);
		}
	}
}	