.hero {
    @include tablet {
        row-gap: 45px;
    }

    @include mobile {
        row-gap: 35px;
    }

    display: flex;
    flex-direction: column;
    row-gap: var(--section-padding-y);

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: start;
        column-gap: 50px;

        @include tablet {
            justify-content: center;
            align-items: center;
            column-gap: 25px;
        }

        @include mobile {
            flex-direction: column;
            row-gap: 20px;
            justify-content: center;
            align-items: center;
        }
    }

    &__body {
        max-width: 531px;
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        align-items: start;

        @include tablet {
            row-gap: 20px;
        }

        @include mobile {
            display: contents;
        }   
    }

    &__title {
        @include tablet {
            font-size: 40px;
        }

        @include mobile {
            font-size: 35px;
            order: -2;
        }
    }

    &__description {
        font-size: 20px;
        line-height: 1.4;

        @include tablet {
            font-size: 18px;
        }

        @include mobile {
            font-size: 16px;
        }
    }

    &__button {
        @include hover {
            background-color: var(--color-light-peach);
            color: var(--color-dark);
            border-color: var(--color-light-peach);
        }

        @include mobile {
            width: 100%;
        }
    }

    &__partners {
        &-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 50px;

            & {
                @include mobile {
                    flex-wrap: wrap;
                    row-gap: 25px;
                    justify-content: center;
                    column-gap: 80px;
                    align-items: center;
                }
            }
        }

        &-amazon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-amazon:hover svg {
            fill: hsl(36 100% 50%);
        }

        &-link-netflix:hover {
            fill: hsl(358 74.9% 48.4%);
        }

        &-link-zoom:hover {
            fill: hsl(213 100% 58.8%);
        }
    }
    &__image {
        @include desktop {
            max-width: 50%;
            height: auto;
        }

        @include tablet {
            max-width: 40%;
            height: auto;
        }

        @include mobile {
            max-width: 380px;
            height: auto;
            order: -1;
        }
    }
}
