.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  padding: 14px 20px;

  &:modal {
    max-width: 100%;
    max-height: 100%;
    margin-inline: auto;
  }

  &__close-button-wrapper {
    display: flex;
    justify-content: end;
  }

  &__body {
    @include flex-center;

    width: 100%;
    flex-direction: column;
  }

  &__list {
    @include flex-center;

    flex-direction: column;
    min-height: 70vh;
  }

  &__list:not(:last-child) {
    row-gap: 20px;
  }

  &__link {
    padding: 10px;
  }

  &__button {
    @include fluid-text(18, 14);

    padding-inline: 15px;
    height: 40px;
  }

}