.section {
    padding-block: var(--section-padding-y);

    &__header {
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 40px;

        &:not(:last-child) {
            margin-bottom: 80px;
        }
    }

    &__description {
        max-width: 780px;
    }

    @include tablet {
        padding-block: 35px;
    }

    @include mobile {
        padding-block: 25px;
    }
}