.soc1als {
	
	&__list {
		display: flex;
		column-gap: 20px;
	}

	&__item {
		display: flex;
		align-items: center;
	}
	
	&__link {
		&-telegram svg {
			fill: var(--color-light);

			@include hover {
				fill: hsl(200 80% 52.9%);
			}
		}

		&-instagram svg {
			@include hover {
				fill: hsl(326 56.9% 48.2%);
			}
		}
		
		&-twitter svg {
			fill: var(--color-light);
			border: 3px solid var(--color-light);
			border-radius: 50%;

			@include hover {
				fill: hsl(203 89.1% 53.1%);
				border-color: hsl(203 89.1% 53.1%);
			}
		}
	}
}	