.subscribe-form {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 634px;
    padding: 58px 40px;
    background-color: var(--color-dark-alt);
    border-radius: var(--border-radius-click);
}