:root {
    --color-light: hsl(0, 0%, 100%);
    --color-dark: hsl(0, 0%, 0%);
    --color-dark-alt: hsl(233, 10%, 18%);
    --color-light-dark: hsl(234, 17%, 12%);
    --color-light-уellow: hsl(56, 100%, 50%);
    --color-light-gray: hsl(0, 0%, 95%);
    --color-gray-alt: hsl(0, 0%, 54%);
}