:root {
    --color-light: hsl(0, 0%, 100%);
    --color-dark: hsl(0, 0%, 0%);
    --color-dark-alt: hsl(233, 10%, 18%);
    --color-light-dark: hsl(234, 17%, 12%);
    --color-light-уellow: hsl(56, 100%, 50%);
    --color-light-gray: hsl(0, 0%, 95%);
    --color-gray-alt: hsl(0, 0%, 54%);

    --border: 1px solid var(--color-light-dark);
    --border-radius-large: 45px;
    --border-radius-small: 7px;
    --border-radius-click: 14px;

    --shadow: 0 5px 0 0 var(--color-light-dark);

    --font-family-base: 'Spase Grotesk', sans-serif;

    --container-width: 1240px;
    --container-padding-x: 20px;

    --section-padding-y: 70px;

    --input-height: 59px;
    --button-height: 68px;

    --transition-duration: .2s;
}